<form *ngIf="venta" name="detailForm" (ngSubmit)="confirmVisto(venta.id!)">
  <div class="modal-header">
    <h4 class="modal title" data-cy="ventaDetailHeading" jhiTranslate="concesionarioApp.venta.detail.tittle">Venta</h4>
    <button type="button" class="btn-close" data-dismiss="modal" area-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <dl class="row-md jh-entity-details">
      <dt><span jhiTranslate="global.field.id">ID</span></dt>
      <dd>
        <span>{{ venta.id }}</span>
      </dd>
      <dt><span jhiTranslate="concesionarioApp.venta.fecha">Fecha</span></dt>
      <dd>
        <span>{{ venta.fecha | formatMediumDate }}</span>
      </dd>
      <dt><span jhiTranslate="concesionarioApp.venta.matricula_coche">Matricula Coche</span></dt>
      <dd>
        <div *ngIf="venta.matricula_coche">
          <a [routerLink]="['/coche', venta.matricula_coche?.id, 'view']">{{ venta.matricula_coche?.matricula }}</a>
        </div>
      </dd>
      <dt><span jhiTranslate="concesionarioApp.venta.cliente">Cliente</span></dt>
      <dd>
        <div *ngIf="venta.cliente">
          <a [routerLink]="['/cliente', venta.cliente?.id, 'view']">{{ venta.cliente?.nombre }}</a>
        </div>
      </dd>
      <dt><span jhiTranslate="concesionarioApp.venta.trabajador">Trabajador</span></dt>
      <dd>
        <div *ngIf="venta.trabajador">
          <a [routerLink]="['/trabajador', venta.trabajador?.id, 'view']">{{ venta.trabajador?.nombre }}</a>
        </div>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="submit" (click)="cancel()" class="btn btn-info" data-cy="entityDetailsBackButton">
      <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
    </button>
  </div>
</form>

